md-dialog.funcionalidade-dialog(aria-label='Funcionalidade')
  md-toolbar.md-toolbar-tools
    h2 Tarefas
    md-button.md-icon-button(ng-click='closeModalCadastroFuncionalidade()')
      md-icon &times

  md-dialog-content(layout='row')
    div.funcionalidade
      div.container
        form(name='formFuncionalidade')
          div.formulario
            div.inputContainer
              label.label(for='nome') Nome
              input.input(type='text',
                          name='nome',
                          data-ng-model='novaFuncionalidade.titulo'
                          required)

            div.inputContainer
              label.label(for='editor') Especificação geral
              textarea(type="text"
                      name='descricao',
                      rows='5'
                      data-ng-model='novaFuncionalidade.descricao')

            div.botoes
            
            div.anexos

            div.tarefasContainer(ng-if='false' data-ng-controller="TarefaController as mv")
              div.header
                i.material-icons.md-24 done_all
                span Tarefas
              div.formTarefa
                div(layout-gt-sm="row")
                  md-input-container(class="md-block" flex-gt-sm="")
                    label Titulo
                    input(ng-model="mv.novaTarefa.titulo")

                  md-input-container(class="md-block" flex-gt-sm="")
                    md-button.md-primary.md-hue-1(data-ng-click='mv.adcionarTarefa(mv.novaTarefa)') Adicionar
                  
              div.listaTarefa
                div(layout='row', layout-wrap='', flex='')
                  div(flex-xs='')
                    md-checkbox(aria-label='Finalizar todos', ng-checked='mv.isChecked()', 
                                md-indeterminate='mv.isIndeterminate()', ng-click='mv.toggleAll()')
                      span(ng-if='mv.isChecked()') Desmarcar todos
                      span(ng-if='!mv.isChecked()') Marcar todos

                    div.select-all-checkboxes(ng-repeat='tarefa in novaFuncionalidade.tarefas')
                      md-checkbox(ng-checked='mv.exists(tarefa, selected)', ng-click='mv.toggle(tarefa, selected)')
                        span {{ tarefa.titulo}} 
                      span(data-ng-click="mv.removerTarefa($index, novaFuncionalidade.tarefas)")
                        i.material-icons.md-12 close
              md-divider
              

            div.comentarios(ng-if='edicao')
              div.header
                i.material-icons.md-24 speaker_notes
                span Comentário
              div.inputContainer
                textarea(type="text"
                        rows='5'
                        data-ng-model='comentario.mensagem')
              div.botoes
                md-button.md-raised.md-primary(data-ng-click='adicionarComentario(comentario, novaFuncionalidade)') Adicionar
            
            div.historico(ng-if='edicao')
              div.header
                i.material-icons.md-24 subject 
                span Historico
              ul.list
                li.item(data-ng-repeat="historico in historicos | orderBy:'data':true")
                  div.acao
                    span(data-ng-bind='historico.acao')
                  div.descricao(data-ng-bind='historico.descricao')
                  div.data
                    span {{(historico.data | date:'dd/MM/yyyy HH:mm')}}
                  div.divider
             


          div.opcoes
            div
            md-input-container.data(flex-gt-sm='')
              label Data início
              md-datepicker(ng-model='novaFuncionalidade.dataInicio', required='{{novaFuncionalidade.dataFim}}' ng-disabled='novaFuncionalidade.status.codigo === 10')
            
            md-input-container.data(flex-gt-sm='')
              label Data fim
              md-datepicker(ng-model='novaFuncionalidade.dataFim' ng-disabled='novaFuncionalidade.status.codigo === 10')

            div.left15
              md-input-container.margindown(flex-gt-sm="")
                label Duração
                input(name="duracao", ng-model="novaFuncionalidade.duracao" ng-pattern="/^[0-9]{2}|[0-9]{1}$/")

            md-input-container.md-block.left15(flex-gt-sm='' data-ng-if='false')
              label Modulo 
              md-select(ng-model='novaFuncionalidade.modulo')
                md-option(ng-repeat='modulo in modulosFiltro', ng-value='{{modulo}}')
                  | {{modulo.nome}}
                  
            div.left15(ng-controller='UsuarioSearchController as mv')
              md-input-container(flex-gt-sm="")
                md-contact-chips(ng-model='novaFuncionalidade.usuarios', 
                  md-contacts='mv.querySearch($query)', 
                  md-contact-name='nome', 
                  md-contact-image='mock.imagem', 
                  md-contact-email='email', 
                  md-require-match='true', 
                  md-highlight-flags='i', 
                  filter-selected='mv.filterSelected', 
                  placeholder='Usuários')

              
            div.left15
              md-input-container.margindown(flex-gt-sm="")
                label Severidade
                input(name="Severidade", ng-model="novaFuncionalidade.severidade" ng-pattern="/^[0-9]{2}|[0-9]{1}$/")
            
            div.left15(data-ng-controller='TagController')
              md-input-container.margindown.fullsize
                label Tags
                md-select(ng-model="novaFuncionalidade.tags" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple="true"
                  ng-model-options="{trackBy: '$value._id'}")
                  md-select-header.demo-select-header
                    input.demo-header-searchbox.md-text(ng-model="searchTerm" type="search" placeholder="Pesquisar uma tag")
                  md-optgroup(label="tags")
                    md-option(ng-value="tag" ng-repeat="tag in tagsParaSelecao | filter:searchTerm", ng-style='{color: tag.cor}')
                      span(ng-style='{color: tag.cor}') {{tag.nome}}
            
            div.left15.containerstatus
              div.label
                span Status
              span.status(data-ng-bind="novaFuncionalidade.status.display")


            
  md-dialog-actions(layout='row')
    md-button(ng-click="closeModalCadastroFuncionalidade()")
      | Cancelar
    md-button.md-primary(ng-if='!edicao' data-ng-click='cadastrarParaSecao(novaFuncionalidade) && closeModalCadastroFuncionalidade()', data-ng-disabled='formFuncionalidade.$invalid') Salvar
    md-button.md-primary(ng-if='edicao' data-ng-click='alterarFuncionalidade(novaFuncionalidade) && closeModalCadastroFuncionalidade()', data-ng-disabled='formFuncionalidade.$invalid') Alterar