div.funcionalidade-container(data-ng-controller='FuncionalidadeController')
  div.titulo
    span Cadastro Funcionalidade

  div.container
    form(name='formFuncionalidade')
      div.formulario
        div.inputcontainer
          label.label(for='nome') Nome
          input.input(type='text',
                      name='nome',
                      data-ng-model='novaFuncionalidade.titulo'
                      required)

        div.inputcontainer
          label.label(for='editor') Especificação geral
          textarea(type="text"
                   name='descricao',
                   data-ng-model='novaFuncionalidade.descricao')

        div.botoes
          button(data-ng-click='cadastrarParaSecao(novaFuncionalidade)') Salvar

        div.anexos
          p anexos

      div.opcoes
        div.inputcontainer
          label.label(for='selecaoModulo') Modulos
          select(name='selecaoModulo'
                 data-ng-options='modulo.nome for modulo in modulosFiltro',
                 data-ng-model='novaFuncionalidade.modulo')

