div.page-header
      div.name Kanban - <b>{{moduloKanbanSelecionado.nome}}</b>
      div.options()
        div.option 
          md-button.md-warn(ng-click="abrirModalCadastroSecao($event)") Nova seção

div.filtros(data-ng-if='false')
  div.filtro(layout-gt-sm="row")
    md-input-container.md-block(flex-gt-sm='40')
      label Modulo
      md-select(ng-model='moduloFiltroSelecionado')
        md-option(ng-repeat='modulo in modulosFiltro', ng-value='modulo')
          | {{modulo.nome}}
        
div.boards(data-ng-model='kanban')
  div.sections(id="kanaban-secoes",
               data-as-sortable="secoesSortOptions",
               data-ng-model='kanban.secoes')
    div.section(data-ng-repeat="section in kanban.secoes",
                data-as-sortable-item,
                is-disabled='false')
      div.header(data-as-sortable-item-handle)
        div.title(data-ng-bind='section.nome' data-ng-click='section.editarToggle = !section.editarToggle' data-ng-hide='section.editarToggle')
        div.changeTile(data-ng-show='section.editarToggle')
          input(type='text' data-ng-model='section.nome' jsn-out="alterarSecao(section)")
        div.acoes
          a(data-ng-click='removeSection(section, $event)') &times

      ul.tasks(data-as-sortable="funcionalidadeSortOptions",
               data-ng-model='section.funcionalidades')
        li.task(data-ng-repeat='task in section.funcionalidades',
                data-as-sortable-item,
                class="{{verificarStatusTask(task)}}"
                data-ng-click='abrirModalEdicaoFuncionalidade($event, task)')
          div.content(data-as-sortable-item-handle)
            div.titulo
              span(data-ng-bind='task.titulo')
            div.informacoes
              span(data-ng-show='task.dataInicio', data-ng-bind='task.dataInicio | date: "dd/MM/yyyy"')
              span.divisor(data-ng-show='task.dataFim') até
              span(data-ng-show='task.dataFim', data-ng-bind='task.dataFim | date: "dd/MM/yyyy"')
            div.tags(data-ng-show='task.tags')
              span.tag(data-ng-repeat="tag in task.tags track by $index", data-ng-bind='tag.nome', data-ng-style='{background: tag.cor}')
              
            div.usuarios
              ul.list(data-ng-show='false')
                li.usuario 
                  i.material-icons.md-36 account_box
                li.usuario 
                  i.material-icons.md-36 account_box


        div.add(data-ng-hide='::section.estadoFinal')
          a.button(data-ng-click='abrirModalCadastroFuncionalidade($event, section)')
            svg.icon(viewBox='0 0 48 48')
                use(xlink:href='/build/images/default/layout/icons.svg#icon-add')
      div.footer

    div.container-formsecao(ng-hide='true')
      h3 Cadastrar seção
      button(data-ng-click="toggleNovaSecao = !toggleNovaSecao") Nova
      div.formsecao(data-ng-show='toggleNovaSecao')
        div.inputcontainer
          input(type='text',
                data-ng-model='novaSecao.nome'
                data-jsn-enter='adicionarNovaSecao(kanban, novaSecao)')