div.login-container(data-ng-controller='LoginController')
  div.imageshadow
    div.signin(data-ng-hide='showSignup')
      div.sistema
        logo 
        span MAS

      form.form(name='formLogin')
        div.campo
          label Email
          input(type='email' data-ng-model='credencial.usuario' 
                name='usuario'
                placeholder='Informe seu email' 
                required)

        div.campo
          label Senha
          input(type='password' data-ng-model='credencial.senha' 
                name='senha'
                minlength='5'
                placeholder="Informe sua senha" 
                required)

      div.botoes
        button.button(data-ng-click='acessar(credencial)', 
                       data-ng-disabled='formLogin.$invalid') Entrar

        div.links
          a.createaccount(data-ng-click='showSignup = !showSignup') criar conta

    div.signup(data-ng-show='showSignup')
      div.header
        h3 cadastro
      
      div.form-container
        form(name='formConta')
          div.inputcontainer
            label.label(for='inputNome') Nome
            input.input(type='text',
                  id='inputNome',
                  name='nome',
                  data-ng-model='conta.nome',
                  ng-minlength="3"
                  ng-maxlength="200"
                  required)
            div.message-container(data-ng-messages="formConta.nome.$error", data-ng-if='moduloForm.nome.$touched && !submitted')
              div(ng-messages-include="partials/main/messages-validation")
          
          div.inputcontainer
            label.label Email
            input.input(type='email',
                  name='email',
                  data-ng-model='conta.email',
                  ng-minlength="3"
                  ng-maxlength="200"
                  required)
            div.message-container(data-ng-messages="formConta.email.$error", data-ng-if='moduloForm.nome.$touched && !submitted')
              div(ng-messages-include="partials/main/messages-validation")

          div.inputcontainer_senha(data-ng-if="passwordHide")
            label.label(for="password") Senha
            svg.icon(viewBox="0 0 48 48", data-ng-click="passwordToggle()")
              use(xlink:href="/build/images/default/layout/icons.svg#icon-eye-visibility")
            input.input(type="password",
                        name="password",
                        data-ng-model="conta.senha",
                        placeholder="Sua senha não será exibida",
                        maxlength="20",
                        minlength="6",
                        required)
            div.messages-container(data-ng-messages="formConta.password.$error",
                                  data-ng-if="formConta.password.$touched && !submitted")
              div(ng-messages-include="partials/main/messages-validation")

          div.inputcontainer_senha(data-ng-if="!passwordHide")
            label.label(for="password") Senha
            svg.icon(viewBox="0 0 48 48", data-ng-click="passwordToggle()")
              use(xlink:href="/build/images/default/layout/icons.svg#icon-visibility-off")
            input.input(type="text",
                        name="password",
                        data-ng-model="conta.senha",
                        placeholder="Sua senha será exibida",
                        maxlength="20",
                        minlength="6",
                        required)
            div.messages-container(data-ng-messages="formConta.password.$error",
                                  data-ng-if="formConta.password.$touched && !submitted")
              div(ng-messages-include="partials/main/messages-validation")

      div.botoes(data-ng-hide='cadastroSucesso')
        button.button.cadastrar(data-ng-click='cadastrarConta(conta)', 
                       data-ng-disabled='formConta.$invalid') Cadastrar

        button.button.cancelar(data-ng-click='showSignup = !showSignup') Cancelar
      
      div.botoes(data-ng-show='cadastroSucesso')
        button.button.cadastrar(data-ng-click='showSignup = !showSignup') Voltar

        
         
show-message(data-show="globalMessage.show",
             data-nivel="globalMessage.nivel",
             data-text="globalMessage.text")