div.page-header
  div.name Funcionalidade
  div.options
    div.option
      a.link(data-ng-href='{{systemUri.tarefaFuncionalidade()}}') Listagem
    div.option(data-ng-if='cadastro')
      a.link(data-ng-href='{{systemUri.tarefaFuncionalidadeCadastro()}}'  selected-menu) Cadastro
    div.option(data-ng-if='edicao')
      a.link.linkselected Edicao


div.tarefafuncionalidade-container
  div.titulo
    h3 Cadastro de Funcionalidade

  form.tarefaFuncForm(name='tarefaFuncForm', data-ng-submit='cadastrar(novaTarefaFuncionalidade)')
    div.inputcontainer
      label.label(for='inputNome') Nome
      input.input(type='text',
            id='inputNome',
            name='nome',
            data-ng-model='novaTarefaFuncionalidade.titulo',
            ng-minlength="3"
            ng-maxlength="200"
            required)
      div.message-container(data-ng-messages="tarefaFuncForm.nome.$error", data-ng-if='tarefaFuncForm.nome.$touched && !submitted')
        div(data-ng-message='required') Nome é obrigatorio
        div(data-ng-message='minlength') Nome muito pequeno
        div(data-ng-message='maxlength') Nome muito grande
    
    md-input-container.md-block(flex-gt-sm='40', data-ng-if="cadastro")
      label Modulos
      md-select(ng-model='novaTarefaFuncionalidade.moduloSelecionado' required name='modulo' ng-change="converterData(novaTarefaFuncionalidade.moduloSelecionado)")
        md-option(ng-repeat='projetoModulo in projetoModulos', ng-value='{{projetoModulo.modulo}}')
          | {{projetoModulo.modulo.nome}}
    
    div.inputcontainer
      label.label(for='inputDescricao') Descrição
      textarea.textarea(id='inputDescricao',
            name='descricao',
            data-ng-model='novaTarefaFuncionalidade.descricao',
            rows='4',
            ng-minlength="3",
            ng-maxlength="600")
      div.message-container(data-ng-messages="tarefaFuncForm.descricao.$error", data-ng-if='tarefaFuncForm.descricao.$touched && !submitted')
        div(data-ng-message='minlength') Descrição muito pequena
        div(data-ng-message='maxlength') Descrição muito grande
    
    md-input-container.data(flex-gt-sm='')
      label Data início
      md-datepicker(ng-model='novaTarefaFuncionalidade.dataInicio', 
      md-min-date='novaTarefaFuncionalidade.moduloSelecionado.dataInicio',
      md-max-date='novaTarefaFuncionalidade.moduloSelecionado.dataFim',
      ng-disabled='!novaTarefaFuncionalidade.moduloSelecionado'
      required) 
    
    md-input-container.data(flex-gt-sm='')
      label Data fim
      md-datepicker(ng-model='novaTarefaFuncionalidade.dataFim' 
      ng-disabled='!novaTarefaFuncionalidade.dataInicio',
      md-min-date='novaTarefaFuncionalidade.dataInicio', 
      md-max-date='novaTarefaFuncionalidade.moduloSelecionado.dataFim', 
      required)
    
    md-input-container.left20(flex-gt-sm="")
      label Severidade
      input(name="Severidade", ng-model="novaTarefaFuncionalidade.severidade" required ng-pattern="/^[0-9]{2}|[0-9]{1}$/")
    
    div.botoes
      input.botaoCadastrar(type="submit",
            value="{{cadastro ? 'Cadastrar' : 'Editar'}}",
            data-ng-disabled='tarefaFuncForm.$invalid',
            data-ng-class="{'botao_desabilitado': tarefaFuncForm.$invalid}")

