div.container-geral
  div.containergrafico.burndown(data-ng-controller='DashboardBurndownController as mvBurn')
    div.header
      span Gráfico Burndown 
      span(data-ng-show='mvBurn.dataInicio') {{mvBurn.dataInicio | date: 'dd/MM/yyyy'}} até {{mvBurn.dataFim | date: 'dd/MM/yyyy'}}
    div.filtros-burndown
      div.filtro(layout-gt-sm="row")
        md-input-container.md-block(flex-gt-sm='30')
          label Modulos
          md-select(ng-model='mvBurn.moduloSelecionado' data-ng-change='mvBurn.buscarFuncionalidades(mvBurn.moduloSelecionado)')
            md-option(ng-repeat='projetoModulo in mvBurn.projetoModulos', ng-value='projetoModulo.modulo')
              | {{projetoModulo.modulo.nome}}
        
        md-input-container.md-block(flex-gt-sm='30')
          label Funcionalidades
          md-select(ng-model='mvBurn.funcionalidadeSelecionada' data-ng-change='mvBurn.montarBurndown()')
            md-option(ng-repeat='funcionalidade in mvBurn.funcionalidades', ng-value='funcionalidade')
              | {{funcionalidade.titulo}}
        
        md-input-container.md-block(flex-gt-sm='20')
          label Visualização 
          md-select(ng-model='mvBurn.tipoVisualizacaoSelecionado', ng-disabled="!mvBurn.moduloSelecionado", data-ng-change='mvBurn.montarBurndown()')
            md-option(ng-repeat='tipoVisualizacao in mvBurn.tiposVisualizacao track by tipoVisualizacao.codigo', ng-value='tipoVisualizacao')
              | {{tipoVisualizacao.display}}

        md-input-container.md-block(flex-gt-sm='20')
          label Período em 
          md-select(ng-model='mvBurn.tipoPeriodoSelecionado', ng-disabled="!mvBurn.tipoVisualizacaoSelecionado", data-ng-change='mvBurn.montarBurndown()')
            md-option(ng-repeat='tipoPeriodo in mvBurn.tiposPeriodos track by tipoPeriodo.codigo', ng-value='tipoPeriodo')
              | {{tipoPeriodo.display}}

    div.grafico
      c3chart(bindto-id='chart2', data-ng-if='mvBurn.burndown')
        chart-column(column-id='data 1', 
                     column-name='Esperado', 
                     column-color='green', 
                     column-values='{{mvBurn.burndown.esperado.toString()}}', column-type='line')
        chart-column(column-id='data 2', 
                     column-name='Andamento', 
                     column-color='blue', 
                     column-values='{{mvBurn.burndown.andamento.toString()}}', column-type='line')

  include ./secao-chart.jade
    